@use "sass:math";

$COLOR: #232323;
$FONT-SIZE: 32px;

$HEIGHT: $FONT-SIZE * 1.4;

$TOP: 40px;
$LEFT: math.div($TOP * 16, 9);

body {
  font-family: sans-serif;
}

#scoreboard {
  color: #ffffff;
  font-size: $FONT-SIZE;
  position: absolute;
  top: $TOP;
  left: $LEFT;
  visibility: visible;
}

#scoreboard * {
  display: flex;
  align-items: center;
  justify-content: center;
  float: left;
  text-align: center;
  height: $HEIGHT;
}

.team-colors {
  width: $FONT-SIZE * 0.15;
  background: red;
}

.team {
  background: rgba($COLOR, 0.9);
  width: $FONT-SIZE * 4;
}

#score,
#time {
  background: rgba($COLOR, 0.7);

  #home-score {
    margin-left: $FONT-SIZE * 0.3;
  }

  #away-score {
    margin-right: $FONT-SIZE * 0.3;
  }
}

.score,
#time,
#half {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: $FONT-SIZE;
}

.number {
  width: 1.2 * $FONT-SIZE;
}

#time {
  width: $FONT-SIZE * 3;
}

#half {
  color: #3b3b3b;
  width: 1.6 * $FONT-SIZE;
  background-color: #f9bb04;
}

#settings {
  position: absolute;
  top: $TOP;
  right: $LEFT;
  padding: 1%;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.5);
  width: 18%;

  div {
    margin: 10px;

    div {
      margin: 0;
      display: flex;
    }

    label {
      float: left;
      width: 100px;
      text-align: left;
    }

    label.half,
    label.count {
      width: auto;
    }

    input {
      flex-grow: 1;
    }

    input[type="radio"],
    input[type="checkbox"] {
      flex-grow: 0;
      margin-right: 20px;
    }
  }
  .submit {
    margin-top: 5px;
    display: block;
    text-align: right;
  }
}
